<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application}">
<head>
    <meta charset="UTF-8">
    <title>Favourites</title>
</head>

<body>

<div layout:fragment="content">
    <div class="bg-black container-fluid d-flex flex-row flex-wrap justify-content-center"
         id="movie-template-background">
        <div th:each="movie : ${favorites}">
            <div class="article-card m-4">
                <p class="favorite-movie-title d-none" th:text="${movie.name}"></p>
                <img th:src="${movie.poster}" alt="loading"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>