<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application}">
<head>
    <!-- Head content -->
</head>
<body>
<section id="movie-template-background" layout:fragment="content">
    <div class="container py-4">
        <div class="py-3"></div>
        <article class="postcard bg-dark ">
            <div class="postcard__img_link" href="#">
                <img class="postcard__img" th:src="${movie.poster}" alt="Image Title"/>
            </div>
            <div class="postcard__text">
                <div class="d-flex flex-direction-row justify-content-around">
                    <h1 class="postcard__title d-flex justify-content-center align-items-center"
                        th:text="${movie.title}"> Title</h1>
                    <div class="delimiter"></div>

                    <form id="favoriteForm" method="post" th:action="@{/update_favorite}"
                          sec:authorize="isAuthenticated()">
                        <input type="hidden" name="title" th:value="${movie.title}"/>
                        <!-- Add other hidden fields for other properties of MovieDto if needed -->
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="checkbox" id="heart" th:checked="${existsFM}" onclick="handleCheckboxChange()"
                                   style="display: none;"/>
                            <label for="heart" class="heart-label"
                                   th:text="${existsFM} ? 'Your Favorite' : 'Add to favorite'">
                            </label>

                        </div>
                    </form>


                </div>
                <div class="postcard__subtitle small d-flex flex-direction-row mt-2">
                    <time class="d-flex align-items-center"
                          th:text="${movie.released + ' | ' + movie.typeCapitalize() + ' | ' + movie.rated}"></time>
                    <div class="tag__item genre-wrapper"><span class="genre"
                                                               th:each="genre : ${movie.genreList()}"
                                                               th:text="${genre}"></span></div>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt" th:text="${movie.plot}">Plot</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fa-regular fa-calendar-days"></i><span
                            th:text="${'  ' + movie.year}"></span></li>
                    <li class="tag__item "><i class="fa-solid fa-star yellow"></i><span
                            th:text="${' ' + movie.rating + '/10 with ' + movie.votes + ' votes'}"></span></li>
                    <li class="tag__item"><i class="fas fa-clock mr-2 cyan"></i><span
                            th:text="${movie.runtime} "></span>
                    </li>
                    <li class="tag__item"><i class="fa-solid fa-language orange"></i><span
                            th:text="${' ' + movie.language}"></span></li>
                    <li class="tag__item">
                        <i th:classappend="${movie.parsedMetascore() < 50 ? 'fa-solid fa-face-frown red' :
                     (movie.parsedMetascore() >= 50 and movie.parsedMetascore() <= 80 ? 'fa-solid fa-face-smile-beam yellow' : 'fa-solid fa-face-smile-beam green')}"></i>
                        <span th:text="${' ' + movie.metascore + ' metascore'}"></span>
                    </li>
                </ul>

                <hr class="section-delimiter">
                <div class="d-flex flex-direction-row"><b>Director</b>
                    <div class="delimiter"></div>
                    <div class="d-flex flex-direction-row align-items-center"
                         th:each="director : ${movie.directorList()}">
                        <i class="fa-solid fa-film mx-1" style="color: #ffffff;"></i>
                        <span th:text="${director} "></span>
                        <span class="person-delimiter"></span>
                    </div>
                </div>


                <hr class="section-delimiter">
                <div class="d-flex flex-direction-row"><b>Writer </b>
                    <div class="delimiter"></div>
                    <div class="d-flex flex-direction-row align-items-center"
                         th:each="writer : ${movie.writerList()}">
                        <i class="fa-solid fa-pen-fancy mx-1" style="color: #ffffff;"></i>
                        <span th:text="${writer} "></span>
                        <span class="person-delimiter"></span>
                    </div>
                </div>

                <hr class="section-delimiter">
                <div class="d-flex flex-direction-row"><b>Actors </b>
                    <div class="delimiter"></div>
                    <div class="d-flex flex-direction-row align-items-center"
                         th:each="actor : ${movie.actorList()}">
                        <i class="fa-solid fa-person mx-1" style="color: #ffffff;"></i>
                        <span th:text="${actor} "></span>
                        <span class="person-delimiter"></span>
                    </div>
                </div>

                <hr class="section-delimiter">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="award-size">
                        <i class="fa-solid fa-award" style="color: #4d83db;"></i>
                        <span th:text="${movie.awards}"></span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
</body>
</html>
